extends layout

block content
  .span6.offset3
    section#academic
      header.page-header
        h1 Academic
      p
        :markdown

          Academic provides an organized approach to documenting, linking, and
          referencing resources.  Just like research, the application is
          decentralized by design, but enables users to share their work with
          known peers.  Our initial application in the civic space is to target
          collecting metadata, usage tips, and examples for open data sources.
