#twitter-timeline a {
    text-decoration: none;
}
#twitter-timeline ul {
    list-style: none;
}
#twitter-timeline .timeline {
    width: 100%;
    margin: 10px auto;
}
#twitter-timeline .tweet {
    padding: 1em;
    background: #eee;
    margin: 1em 0;
}
#twitter-timeline .date {
    display: block;
    float: right;
    font-size: .8em;
}
#twitter-timeline .text {
    clear: both;
}
#twitter-timeline .photo a[href] {
    margin-top: 1em;
}